@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/svelte/dist";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

  --color-primary-50: oklch(0.979 0.021 166.113);
  --color-primary-100: oklch(0.95 0.052 163.051);
  --color-primary-200: oklch(0.905 0.093 164.15);
  --color-primary-300: oklch(0.845 0.143 164.978);
  --color-primary-400: oklch(0.765 0.177 163.223);
  --color-primary-500: oklch(0.696 0.17 162.48);
  --color-primary-600: oklch(0.596 0.145 163.225);
  --color-primary-700: oklch(0.508 0.118 165.612);
  --color-primary-800: oklch(0.432 0.095 166.913);
  --color-primary-900: oklch(0.378 0.077 168.94);
  --color-primary-950: oklch(0.262 0.051 172.552);

  --color-secondary-50: #f0f9ff;
  --color-secondary-100: #e0f2fe;
  --color-secondary-200: #bae6fd;
  --color-secondary-300: #7dd3fc;
  --color-secondary-400: #38bdf8;
  --color-secondary-500: #0ea5e9;
  --color-secondary-600: #0284c7;
  --color-secondary-700: #0369a1;
  --color-secondary-800: #075985;
  --color-secondary-900: #0c4a6e;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}